
/* ---------- ABOUT CONTAINER ----------- */


.introContainer {
    min-height: 35vh;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 80fr 20fr;   
    z-index: 100;    
    overflow: hidden; 
    
    

  }

.intro {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
}

.intro2 {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

.intro2Holder {
    position: relative;
    
    
}

.introItalic {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}


/* ---------- SHOP CONTAINER ----------- */

.freeShippingWrap {
    width:900px;
    height: 105px;
    position: absolute;
    top:45%;
    left:28%;   
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    color:red;
    font-weight: 100;
    overflow: hidden;       
    
    
}

.shippingMove {
    
    position: relative;   
    animation: slide  70s infinite;
    display: inline-block;
    white-space: nowrap;
}





@keyframes slide {
    0% {
        transform: translate(0%, 0);
      }
      100% {
        transform: translate(-100%, 0);
        animation-timing-function:ease-in-out;
      }

}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  

.shopBtn {
    width:450px;
    height: 40px;
    position: absolute;
    border-radius:12px;
    font-size: 25px;    
    right:75%; 
    top:45%; 

    background-color: black;
    color: white;

    
}

.shopBtn:hover {
    background-color:white;
    color:black;
    transition: 0.3s ease-in;
    cursor: pointer;
}

/* ---------- PRODUCT CONTAINER ----------- */

.productContainer {
    background-color: tomato;

}

.bottleImg {
    background-color: black;
    width: 350px;
    height: 430px;
    position: relative;
    top: 15%;
}


/* ---------- FOOTER CONTAINER ----------- */


.rest {
    position: relative;
    z-index: 100;
    background: #fff;
    margin-bottom: 200px;
    overflow: hidden;
}

.fixedFooter {
    height: 150px;
    width: 100%;
    background:#383838;
    position: fixed;
    bottom: 0;
    z-index: -1;
    color: white;
    text-align: center;
    font-size: 20pt;
}

.footer p {
    margin-top: 50px;
}

.footerInput {
    position: absolute;
    top:40%;
    left:1%;
    height:35px;
    width: 270px;
    background-color: #383838;
    color:white;
    border: 2px solid white;
    font-size: 20px;
}

.footerSub {
    position: absolute;
    top:40%;
    left:17%;
    border-radius: 15px;
    height:40px;
    width: 150px;
    color:black;
    font-size: 18px;
    background-color:#aaaaaa;
}

.footerP {
    position: absolute;
    top:25%;
    left:70%;
    font-size: 20px;
}

.footerAHolder {
    font-size: 18   px;
    display: grid;
    row-gap: 15px;
    padding: 5px;
    position: absolute;
    top:17%;
    left:85%;
    text-decoration: none;
    color: white;

   
}

.footerAHolder a {
    text-decoration: none;
    color: whitesmoke;
}


.footerAHolder2 {
    font-size: 18px;
    display: grid;
    row-gap: 15px;
    padding: 5px;
    position: absolute;
    top:17%;
    left:92%;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    text-align: left;

   
}

.footerAHolder2 a {
    text-decoration: none;
    color: whitesmoke;
}


/* ----------- BREAK-POINTS / RESPONSIVITY ------------ */



/* LUCAS: I noticed some breaks in the layout of the official website in certain metrics, so I took the initiative 
to extend myself a little beyond the 3 breaking points requested for some more examples */

@media screen and (max-width: 2705px) {
    .introContainer {
        min-height: 30vh;
        margin-bottom: 100px;

    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:43%;
    }
    .freeShippingWrap {
        left:20%;
    }
    
}

@media screen and (max-width: 2425px) {
    .introContainer {
        min-height: 40vh;
       

    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:43%;
    }
    .freeShippingWrap {
        left:21%;
        top:43%;
    }
}

@media screen and (max-width: 2269px) {
    .freeShippingWrap {
        left:25%;
        top:43%;
    }
}


@media screen and (max-width: 1844px) {
    .freeShippingWrap {
        left:28%;
        top:42%;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:42%;
    }
}


@media screen and (max-width: 1715px) {
    .freeShippingWrap {
        left:28%;
        top:40%;
        width: 800px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:40%;
    }
    .footerSub{
        left:22%;
    }
}


@media screen and (max-width: 1653px) {
    .freeShippingWrap {
        left:32%;
        top:42%;
        width: 800px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:42%;
    }
    .footerAHolder {
        font-size: 18px;
        top:22%;
        left:82%;
    }
    .footerAHolder2 {
        font-size: 18px;
        top:22%;
        left:90%;
    }
    .footerP {
        top:40%;
    }
}


@media screen and (max-width: 1560px) {
    .freeShippingWrap {
        left:32%;
        top:42%;
        width: 700px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:42%;
    }
}

@media screen and (max-width: 1441px) {
    .freeShippingWrap {
        left:35%;
        top:42%;
        width: 600px;
       
    }
    .footerP {
        left:65%;
    }
   
}

@media screen and (max-width: 1305px) {
    .freeShippingWrap {
        left:40%;
        top:41%;
        width: 500px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:41%;
    }
    .footerSub{
        left:28%;
    }
}

@media screen and (max-width: 1189px) {
    .freeShippingWrap {
        left:42%;
        top:40%;
        width: 400px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:40%;
    }
    .footerAHolder2 {
        left:89%;
    }
    .footerAHolder {
        left:81%;
    }
}

/* LUCAS: I noticed that DMBrut's official website breaks when it is leveled around 1057px width, so I added this 
and other breakpoints to adjust these metrics

    See the original example here: https://ibb.co/bQVm0Jz

*/

@media screen and (max-width: 1094px) {
    .freeShippingWrap {
        left:46%;
        top:41%;
        width: 320px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:41%;
    }
}


@media screen and (max-width: 1050px) {
    .freeShippingWrap {
        left:46%;
        top:43%;
        width: 320px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:43%;
    }
    .footerP {
        left:55%;
    }
    .footerAHolder {
        left:75%;
    }
    .footerAHolder2 {
        left:86%;
    }
    .footerSub {
        left:33%;
    }
}


@media screen and (max-width: 979px) {
    .freeShippingWrap {
        left:50%;
        top:45%;
        width: 320px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:45%;
    }
}

@media screen and (max-width: 913px) {
    .freeShippingWrap {
        left:55%;
        top:42%;
        width: 220px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:42%;
    }
}



/* -------- Breakpoint for mobile -------- */

@media screen and (max-width: 788px) {
    .freeShippingWrap {
        left:0%;
        top:0.2%;
        width: 1000px;
       
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:20%;
        width:770px;
    }
    .intro {
        top:25%;
        position: absolute;
        
        
}
.intro2 {
    
    top:10%;
    position: relative;
    

}
.introContainer {
    height: 1700px;
}
.fixedFooter {
    height:700px;
}
.footerAHolder {
    position: absolute;
    left:45%;
    top:85%;
}
.footerAHolder2 {
    position: absolute;
    left:66%;
    top:85%;
    display: grid;
    
}
.footerP {
    position: absolute;
    left:15%;
    top:85%;
}
.footerInput {
    position: absolute;
    left:15%;
    top:75%;
}
.footerSub {
    position: absolute;
    left:60%;
    top:75%;
}
}

@media screen and (max-width: 625px) {
    .introContainer {
        height: 1800px;
    }
    .shopBtn {
        position: absolute;
        left:1%;
        top:15%;
        width:600px;
    }
    .intro {
        top:18%;
        position: absolute;
        
        
}
    .intro2 {
    
        top:0%;
        position: relative;
}

}

@media screen and (max-width: 524px) {

    .shopBtn {
        position: absolute;
        left:1%;
        top:15%;
        width:510px;
    }
    .introContainer {
        height: 2100px;
    }
    .footerInput {
        width:150px;
        font-size: 16px;
    }
    .footerP {
        left:5%;
    }
}

@media screen and (max-width: 384px) {
    .shopBtn {
        position: absolute;
        left:1%;
        top:10%;
        width:370px;
    }
    .introContainer {
        height: 2400px;
    }
    .intro {
        top:11%;
        position: absolute;
    }
    .intro2 {
    
        top:6%;
        position: relative;
}
.footerInput {
    left:5%;
}
.footerSub {
    left:58%;
}
.footerP {
    font-size: 13px;
}
.footerAHolder {
    font-size: 13px;
}
.footerAHolder2 {
    font-size: 13px;
}

}

@media screen and (max-width: 320px) {
    .shopBtn {
        position: absolute;
        left:1%;
        top:7%;
        width:302px;
    }
    .intro {
        top:8%;
        position: absolute;
    }
    .intro2 {
    
        top:8%;
        position: relative;
}
    .introContainer {
        height: 2600px;
}
.footerInput {
    width:110px;
    font-size: 12px;
}
.footerSub {
    left:50%;
}
}