.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 80fr 20fr;    
    
   
    
  }

.intro {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
}

.introItalic {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.freeShippingWrap {
    width:900px;
    height: 105px;
    position: relative;
    top:5%;
    left:32%;   
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    color:red;
    font-weight: 100;
    overflow: hidden;       
    
    
}

.shippingMove {
    
    position: relative;   
    animation: slide linear 30s infinite;
    display: inline-block;
    white-space: nowrap;
}





@keyframes slide {
    0% {
        transform: translate(0%, 0);
      }
      100% {
        transform: translate(-100%, 0);
        animation-timing-function:ease-in-out;
      }

}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  

.shopBtn {
    width:450px;
    height: 40px;
    position: relative;
    border-radius:12px;
    font-size: 25px;
    top:10%;
    right:11%;
    background-color: black;
    color: white;

    
}

.shopBtn:hover {
    background-color:white;
    color:black;
    transition: 0.3s ease-in;
    cursor: pointer;
}