
/* ---------- ABOUT CONTAINER ----------- */


.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: 80fr 20fr;   
    z-index: 100;
    margin-bottom: 200px;
    overflow: hidden;     
 
   
    
  }

.intro {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
}

.intro2 {
    font-size: 65px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    
}

.intro2Holder {
    position: relative;
    
    
}

.introItalic {
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: italic;
}


/* ---------- SHOP CONTAINER ----------- */

.freeShippingWrap {
    width:900px;
    height: 105px;
    position: relative;
    top:2%;
    left:32%;   
    font-size:13px;
    font-family: 'Roboto', sans-serif;
    color:red;
    font-weight: 100;
    overflow: hidden;       
    
    
}

.shippingMove {
    
    position: relative;   
    animation: slide  70s infinite;
    display: inline-block;
    white-space: nowrap;
}





@keyframes slide {
    0% {
        transform: translate(0%, 0);
      }
      100% {
        transform: translate(-100%, 0);
        animation-timing-function:ease-in-out;
      }

}

.marquee {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
  }
  

.shopBtn {
    width:450px;
    height: 40px;
    position: absolute;
    border-radius:12px;
    font-size: 25px;    
    right:75%; 
    top:48%; 

    background-color: black;
    color: white;

    
}

.shopBtn:hover {
    background-color:white;
    color:black;
    transition: 0.3s ease-in;
    cursor: pointer;
}

/* ---------- PRODUCT CONTAINER ----------- */

.productContainer {
    background-color: tomato;

}

.bottleImg {
    background-color: black;
    width: 350px;
    height: 430px;
    position: relative;
    top: 15%;
}


/* ---------- FOOTER CONTAINER ----------- */

.rest {
    position: relative;
    z-index: 100;
    background: #fff;
    margin-bottom: 100px;
    overflow: hidden;
}